.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.office-card {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 50%;
}

.textRed {
  color: red;
}

.textGreen {
  color: green;
}
